<div class="band-card">
 <!-- 1st col of band card -->
 <div class="band-card__img-container">
  <img src="{{ site.baseurl }}/assets/images/Band_ralph.jpg" alt="Band" title="Band" class="band-card__img"
   loading="lazy">
 </div>

 <!-- 2nd col of band card -->
 <div class="band-card__info-part">
  <!-- Row One -->
  <div class="band-card__info__row-one layout-flex">
   <!-- Row Name -->
   <div class="band-card__info-heading">
    <h4>Ralph Martyn Esteva</h4>
    <ul class="band-card__instruments">
     <li class="band-card__instrument-item"> Lead Guitar </li>
     <li class="band-card__instrument-item"> Violin </li>
     <li class="band-card__instrument-item"> Vocals </li>
     <li class="band-card__instrument-item"> Backing Vocals </li>
    </ul>
   </div>

   <!-- Row Social Media -->
   <div class="band-card__social-media">
    <a href="#" target="_blank" class="btn-round__accent">
     <i class="fa fa-facebook footer-social-media__icon"></i>
    </a>
    <a href="#" target="_blank" class="btn-round__accent">
     <i class="fa fa-facebook footer-social-media__icon"></i>
    </a>
    <a href="#" target="_blank" class="btn-round__accent">
     <i class="fa fa-facebook footer-social-media__icon"></i>
    </a>
   </div>


  </div>

  <!-- Row Two -->
  <div class="band-card__info__row-two">
   <p class="band-card__blurb ">
    Rap started to play the guitar at age 12. He started listening to New wave, Alternative and Punk music, which lead
    him
    to form his 1st band in High School. As he stepped into College, he joined a Pop/OPM band called 29th OF FEBRUARY
    where
    they won 3rd place in the 2015 SESSIONISTAS (Tiendesitas) and became Champion in the 2016 BAND CLASH (Trinity
    University).
    <br><br>
    Inspired by his musician uncles in Hong Kong, he dedicated his life into forming this Acoustic band, hoping to show
    the
    audiences the greatness of Folk, Country and Rock N Roll music. Aside from the Guitar, he also enjoys playing the
    Violin, DOTA and watch Comedic movies in his past time. He currently works for StraightArrow Corporation as a Web
    Specialist.
    <br><br>
    Inspired by his musician uncles in Hong Kong, he dedicated his life into forming this Acoustic band, hoping to show
    the
    audiences the greatness of Folk, Country and Rock N Roll music. Aside from the Guitar, he also enjoys playing the
    Violin, DOTA and watch Comedic movies in his past time. He currently works for StraightArrow Corporation as a Web
    Specialist.
   </p>
   <a href="#" target="_blank" class="band-card__btn btn btn-ghost__accent">View Bio</a>
  </div>
 </div>


</div>
<div class="band-card">
 <!-- 1st col of band card -->
 <div class="band-card__img-container">
  <img src="{{ site.baseurl }}/assets/images/Band_ralph.jpg" alt="Band" title="Band" class="band-card__img"
   loading="lazy">
 </div>

 <!-- 2nd col of band card -->
 <div class="band-card__info-part">
  <!-- Row One -->
  <div class="band-card__info__row-one layout-flex">
   <!-- Row Name -->
   <div class="band-card__info-heading">
    <h4>Ralph Martyn Esteva</h4>
    <ul class="band-card__instruments">
     <li class="band-card__instrument-item"> Lead Guitar </li>
     <li class="band-card__instrument-item"> Violin </li>
     <li class="band-card__instrument-item"> Vocals </li>
     <li class="band-card__instrument-item"> Backing Vocals </li>
    </ul>
   </div>

   <!-- Row Social Media -->
   <div class="band-card__social-media">
    <a href="#" target="_blank" class="btn-round__accent">
     <i class="fa fa-facebook footer-social-media__icon"></i>
    </a>
    <a href="#" target="_blank" class="btn-round__accent">
     <i class="fa fa-facebook footer-social-media__icon"></i>
    </a>
    <a href="#" target="_blank" class="btn-round__accent">
     <i class="fa fa-facebook footer-social-media__icon"></i>
    </a>
    <a href="#" target="_blank" class="btn-round__accent">
     <i class="fa fa-facebook footer-social-media__icon"></i>
    </a>
   </div>


  </div>

  <!-- Row Two -->
  <div class="band-card__info__row-two">
   <p class="band-card__blurb ">
    Rap started to play the guitar at age 12. He started listening to New wave, Alternative and Punk music, which lead
    him
    to form his 1st band in High School. As he stepped into College, he joined a Pop/OPM band called 29th OF FEBRUARY
    where
    they won 3rd place in the 2015 SESSIONISTAS (Tiendesitas) and became Champion in the 2016 BAND CLASH (Trinity
    University).
    <br><br>
    Inspired by his musician uncles in Hong Kong, he dedicated his life into forming this Acoustic band, hoping to show
    the
    audiences the greatness of Folk, Country and Rock N Roll music. Aside from the Guitar, he also enjoys playing the
    Violin, DOTA and watch Comedic movies in his past time. He currently works for StraightArrow Corporation as a Web
    Specialist.
   </p>
   <a href="#" target="_blank" class="band-card__btn btn btn-ghost__accent">View Bio</a>
  </div>
 </div>


</div>

<div class="band-card">
 <!-- 1st col of band card -->
 <div class="band-card__img-container">
  <img src="{{ site.baseurl }}/assets/images/Band_ralph.jpg" alt="Band" title="Band" class="band-card__img"
   loading="lazy">
 </div>

 <!-- 2nd col of band card -->
 <div class="band-card__info-part">
  <!-- Row One -->
  <div class="band-card__info__row-one layout-flex">
   <!-- Row Name -->
   <div class="band-card__info-heading">
    <h4>Ralph Martyn Esteva</h4>
    <ul class="band-card__instruments">
     <li class="band-card__instrument-item"> Lead Guitar </li>
     <li class="band-card__instrument-item"> Violin </li>
     <li class="band-card__instrument-item"> Vocals </li>
     <li class="band-card__instrument-item"> Backing Vocals </li>
    </ul>
   </div>

   <!-- Row Social Media -->
   <div class="band-card__social-media">
    <a href="#" target="_blank" class="btn-round__accent">
     <i class="fa fa-facebook footer-social-media__icon"></i>
    </a>
    <a href="#" target="_blank" class="btn-round__accent">
     <i class="fa fa-facebook footer-social-media__icon"></i>
    </a>
    <a href="#" target="_blank" class="btn-round__accent">
     <i class="fa fa-facebook footer-social-media__icon"></i>
    </a>
    <a href="#" target="_blank" class="btn-round__accent">
     <i class="fa fa-facebook footer-social-media__icon"></i>
    </a>
    <a href="#" target="_blank" class="btn-round__accent">
     <i class="fa fa-facebook footer-social-media__icon"></i>
    </a>
    <a href="#" target="_blank" class="btn-round__accent">
     <i class="fa fa-facebook footer-social-media__icon"></i>
    </a>
   </div>


  </div>

  <!-- Row Two -->
  <div class="band-card__info__row-two">
   <p class="band-card__blurb ">
    Rap started to play the guitar at age 12. He started listening to New wave, Alternative and Punk music, which lead
    him
    to form his 1st band in High School. As he stepped into College, he joined a Pop/OPM band called 29th OF FEBRUARY
    where
    they won 3rd place in the 2015 SESSIONISTAS (Tiendesitas) and became Champion in the 2016 BAND CLASH (Trinity
    University).
    <br><br>
    Inspired by his musician uncles in Hong Kong, he dedicated his life into forming this Acoustic band, hoping to show
    the
    audiences the greatness of Folk, Country and Rock N Roll music. Aside from the Guitar, he also enjoys playing the
    Violin, DOTA and watch Comedic movies in his past time. He currently works for StraightArrow Corporation as a Web
    Specialist.
   </p>
   <a href="#" target="_blank" class="band-card__btn btn btn-ghost__accent">View Bio</a>
  </div>
 </div>


</div>