<!-- Col 1 -->
<div class="package-card">
 <div class="package-card__heading">
  <h4 class="hex-white">Quartet</h4>
 </div>

 <div class="package-card__content">
  <div class="package-card__details">

   <div class="package-card__price-row">
    <h2 class="package-card__price hex-primary">8,000</h2>
    <h5 class="package-card__gig-word hex-primary">gig</h5>
   </div>

   <p class="package-card__description">
    4 band members
   </p>

   <ul class="package-inclusions">
    <li class="package-inclusion__item">
     <i class="fas fa-check"></i> 2 Guitars
    </li>
    <li class="package-inclusion__item">
     <i class="fas fa-check"></i> 2 Vocals
    </li>
    <li class="package-inclusion__item">
     <i class="fas fa-check"></i> Bass
    </li>
    <li class="package-inclusion__item">
     <i class="fas fa-check"></i> Fiddle / Violin
    </li>
    <li class="package-inclusion__item">
     <i class="fas fa-check"></i> Drums
    </li>
   </ul>
  </div>

  <a href="{{site.baseurl}}/contact/?band_package=quartet" target="_blank" class="btn btn-accent">INQUIRE</a>
 </div>
</div>

<div class="package-card">
 <div class="package-card__heading">
  <h4 class="hex-white">Full Band</h4>
 </div>

 <div class="package-card__content">
  <div class="package-card__details">

   <div class="package-card__price-row">
    <h2 class="package-card__price hex-primary">10,000</h2>
    <h5 class="package-card__gig-word hex-primary">gig</h5>
   </div>

   <p class="package-card__description">
    5 band members
   </p>

   <ul class="package-inclusions">
    <li class="package-inclusion__item">
     <i class="fas fa-check"></i> 2 Guitars
    </li>
    <li class="package-inclusion__item">
     <i class="fas fa-check"></i> 3 Vocals
    </li>
    <li class="package-inclusion__item">
     <i class="fas fa-check"></i> Bass
    </li>
    <li class="package-inclusion__item">
     <i class="fas fa-check"></i> Fiddle / Violin
    </li>
    <li class="package-inclusion__item">
     <i class="fas fa-check"></i> Drums
    </li>
   </ul>
  </div>

  <a href="{{site.baseurl}}/contact/?band_package=full_band" target="_blank" class="btn btn-accent">INQUIRE</a>
 </div>
</div>

<div class="package-card">
 <div class="package-card__heading">
  <h4 class="hex-white">Custom</h4>
 </div>

 <div class="package-card__content">
  <div class="package-card__details">

   <div class="package-card__price-row">
    <h5 class="hex-primary">
     Price to be
     discussed
    </h5>
   </div>

   <p class="package-card__description">
    Any no. of band members. <br>
    Combination of any instruments below.
   </p>

   <ul class="package-inclusions">
    <li class="package-inclusion__item">
     <i class="fas fa-check"></i> Guitars
    </li>
    <li class="package-inclusion__item">
     <i class="fas fa-check"></i> Male/Female Vocals
    </li>
    <li class="package-inclusion__item">
     <i class="fas fa-check"></i> Bass
    </li>
    <li class="package-inclusion__item">
     <i class="fas fa-check"></i> Keyboards
    </li>
    <li class="package-inclusion__item">
     <i class="fas fa-check"></i> Fiddle / Violin
    </li>
    <li class="package-inclusion__item">
     <i class="fas fa-check"></i> Harmonica
    </li>
    <li class="package-inclusion__item">
     <i class="fas fa-check"></i> Drums / Cajon
    </li>
   </ul>
  </div>

  <a href="{{site.baseurl}}/contact/?band_package=custom" target="_blank" class="btn btn-accent">INQUIRE</a>
 </div>
</div>