---
layout: default 
---

{% assign page = strapi.collections.pages | where:"id", "643bb2201fa5b4001445953f" | first %}

{% for zone in page.zone %}
  {% if zone.__component == 'section.heading' %}
 <!-- Row Hero -->
 <section class="hero__container" style="background: url('{{zone.background_image.url}}') no-repeat">
  <div class="hero__content">
   <h1 class="hero__heading">
    {{zone.heading}}
   </h1>

   <a href="{{site.baseurl}}{{zone.button_link}}" class="btn btn-accent">{{zone.button_label}}</a>
  </div>
 </section>
 <!-- End Hero -->
 {% endif %}
{% endfor %}



 <!-- Row Offer -->
 <div class="offer__container">
  <div class="ribbon">
   <h2 class="offer__heading">What we offer</h2>
  </div>

  <div class="offer__items">
    <!-- Row Offer Items -->
    {%- if strapi.collections.packages.size > 0 -%}
    
      {% assign sorted_packages = strapi.collections.packages | sort: "order" %}
      {% for package in sorted_packages %}
      
          <!-- Row Packages -->
          {% if package.to_feature == true %}
          
          {% include snippet/offer.html %}
          
          {% endif %}
          <!-- End packages -->
      
      {% endfor %}
    
    {%- endif -%}

    <!-- End Offer Items -->
  </div>

 </div>

 <!-- End Offer -->

 <!-- Row About -->
{% for slider_section in page.zone %}
  {% if slider_section.__component == 'section.slider' %}
    <div class="about__container mt-60 mb-60 layout-flex__center">
      <div class="container container__flex">

      <div class="col-lg6 col-sm12 mt-lg-60">
        <!-- Slider main container -->
        <div class="swiper__outer">

        <a href="#" class="swiper-button-prev"><i class="fas fa-chevron-left"></i></a>

        <div class="swiper-container">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
          <!-- Slides -->
          {% for slide in slider_section.images %}
            <img src="{{slide.url}}" class="swiper-slide" alt="{{ slide.alternativeText }}" title="{{ slide.alternativeText }}">
          {% endfor %}
          </div>
        </div>

        <a href="#" class="swiper-button-next"><i class="fas fa-chevron-right"></i></a>
        </div>
      </div>

      <div class="col-lg6 col-sm12 mt-lg-10 mt-lg-10 mb-lg-40">
        <div class="about-info__container">
        <h2 class="hex-white mt-md-20">{{ slider_section.section_title }}</h2>

        <p class="hex-white pt-30">
          {{ slider_section.section_description }}
        </p>

        <a href="{{site.baseurl}}{{slider_section.button_link}}" class="btn btn-accent mt-30">{{ slider_section.button_label }}</a>
        </div>
      </div>


      </div>
    </div>

  {% endif %}
{% endfor %}
 <!-- End About -->

 <!-- Row Media -->
{% for gallery in page.zone %}
  {% if gallery.__component == 'section.mini-gallery' %}
  <div class="media-container container__flex mb-40">
    <div class="col-sm12 col-lg6 featured-images">
    <a href="#" class="featured-image__crosswise-container featured-image__asset">
      <img src="{{gallery.crosswise_image.url}}" alt="Image" title="Image" class="featured-image__crosswise">
    </a>
    <a href="#" class="featured-image__square-container featured-image__asset">
      <img src="{{gallery.first_cube_image.url}}" alt="Image" title="Image" class="featured-image__square">
    </a>
    <a href="#" class="featured-image__square-container featured-image__asset">
      <img src="{{gallery.second_cube_image.url}}" alt="Image" title="Image" class="featured-image__square">
    </a>
    <a href="https://www.facebook.com/FolkRidgeBand/photos/" class="featured-image__square-container featured-image__button">
      <p target="_blank" class="hex-white">See More</p>
    </a>
    </div>

    <div class="col-lg6 col-sm12">
    <div class="featured-video__container">
      <div class="featured-video__overlay">
        <a href="#" class="featured-video__play" id="videoPlay">
          <i class="fas fa-play fa-4x"></i>
        </a>
      </div>
      <iframe src="{{ gallery.video_embed }}" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen id="videoFeatured"></iframe>
    </div>
    </div>
  </div>
  {% endif %}
{% endfor %}
 <!-- End Media -->

 {% include snippet/modal-image.html %}


