.modal-image{
  background:var(--white);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  height:max-content;
   z-index: 4001;

  @media #{$device-md}{
   width:80%;
  }
  
  .modal-close{
    position:absolute;
    top:0;
    right:0;
    background: var(--danger);
    color:var(--white);
    padding:10px;
 }


  .modal-guts{
     /* other stuff we already covered */

    /* cover the modal */
    top: 0;
    left: 0;
    width: 90%;
    height: max-content;
    margin:20px auto;
    display:flex;
    justify-content:center;
    align-items: center;

    @media #{$device-md}{
     height:max-content;
     padding:20px 0;
    }

    img{
     width:100%;
     object-fit:cover;
    }
   
  }
}