


      <div class="band-card">
        <!-- 1st col of band card -->
        <div class="band-card__img-container">
          {% if member.profile_image.url %}
            <img src="{{ member.profile_image.url }}" alt="Band" title="Band" class="band-card__img" loading="lazy">
          {% else %}
             <img src="{{site.baseurl}}/assets/images/no_picture.jpg" alt="Band" title="Band" class="band-card__img" loading="lazy">
          {% endif %}
        </div>
      
        <!-- 2nd col of band card -->
        <div class="band-card__info-part">
          <!-- Row One -->
          <div class="band-card__info__row-one layout-flex">
            <!-- Row Name -->
            <div class="band-card__info-heading">
              <h4>{{ member.name }}</h4>
              <ul class="band-card__instruments">
                {%- for instrument in member.instruments -%}
                  <li class="band-card__instrument-item"> {{ instrument.name }} </li>
                {%- endfor -%}
              </ul>
            </div>
      
            <!-- Row Social Media -->

            <div class="band-card__social-media">
              {%- for medium in member.social_media -%}


               {% if medium.mobile_link %}
                
                <!-- I had to create a custom script tag
                to get the device screen size from Javascript to display mobile link rather than normal link -->
                {% include js/mobile_link.html %}
                
               {% else %}
                  {% assign link = medium.link %}

                  <a href="{{link}}" target="_blank" class="btn-round__accent">
                    {%- for social_info in medium.socials -%}
                    {{social_info.classname}}
                    {%- endfor -%}
                  </a>
               {% endif %}

               

               
              {%- endfor -%}
            </div>
      
      
          </div>
      
          <!-- Row Two -->
          <div class="band-card__info__row-two">
            <p class="band-card__blurb ">
             {{ member.biography }}
            </p>
            <a href="#" target="_blank" class="band-card__btn btn btn-ghost__accent" data-band-name="{{member.name}}">View Bio</a>
          </div>
        </div>
      
      
      </div>

