
 <div class="modal modal--hide">
   <a href="#" target="_blank" class="modal-close"  id="modalClose">
    <i class="fas fa-times fa-2x"></i>
   </a>

  <div class="modal-guts">
   <div class="modal-content">
    <h3>Rap's Biography</h3>
    <p>
     Rap started to play the guitar at age 12. He started listening to New wave, Alternative and Punk music, which lead
     him
     to form his 1st band in High School. As he stepped into College, he joined a Pop/OPM band called 29th OF FEBRUARY
     where
     they won 3rd place in the 2015 SESSIONISTAS (Tiendesitas) and became Champion in the 2016 BAND CLASH (Trinity
     University).
     <br><br>
     Inspired by his musician uncles in Hong Kong, he dedicated his life into forming this Acoustic band, hoping to show
     the
     audiences the greatness of Folk, Country and Rock N Roll music. Aside from the Guitar, he also enjoys playing the
     Violin, DOTA and watch Comedic movies in his past time. He currently works for StraightArrow Corporation as a Web
     Specialist.
     <br><br>
     Inspired by his musician uncles in Hong Kong, he dedicated his life into forming this Acoustic band, hoping to show
     the
     audiences the greatness of Folk, Country and Rock N Roll music. Aside from the Guitar, he also enjoys playing the
     Violin, DOTA and watch Comedic movies in his past time. He currently works for StraightArrow Corporation as a Web
     Specialist.
    </p>
   </div>
  </div>
 </div>

<div class="modal-overlay modal--hide">
</div>