---
layout: about
---


<!-- History -->

{% assign page = strapi.collections.pages | where:"id", "643bb2561fa5b4001445954e" | first %}

{% for zone in page.zone %}
  {% if zone.__component == 'section.page-layout' %}
    <div class="history-container container container__nowrap">
      <div class="history__image-container col-lg5 col-md12">
        <img src="{{ zone.image.url }}" alt="Folk Ridge - History Image" title="Folk Ridge - History Image" class="history__image">
      </div>
    
      <div class="history__blurb col-lg7 col-md12 mt-md-20">
        <p>
          {{ zone.description }}
    
        </p>
      </div>
    
    
    </div>
  {% endif %}

  {% if zone.__component == 'section.button-center' %}
    <a href="{{zone.destination_link}}" class="history__button btn btn-accent mt-60 mb-60" title="Download Band Resume" name="Download Band Resume" download><i class="fas fa-download"></i> DOWNLOAD BAND RESUME</a>
  {% endif %}


{% endfor %}