<h1 class="hex-primary page-title">Contact Us </h1>

<div class="container form__container container__flex">
 <div class="form__fields col-lg7 col-sm12">
  <form action="" method="" class="form">

   <div class="form__two-col">
    <div class="form-group form-input__name">
     <label for="name">Name:</label>
     <input type="text" name="name" class="mt-10" placeholder="Type name here">
    </div>

    <div class="form-group form-input__inquiry mt-md-20">
     <label for="inquiry">Inquiry type:</label>
     <div class="custom-select mt-10">
      <select name="inquiry" id="inquiry" placeholder="Select inquiry">
       <option value="">Choose type...</option>
       <option value="Full Band">Service: Full Band</option>
       <option value="Quartet">Service: Quartet</option>
       <option value="Trio">Service: Trio</option>
       <option value="Custom">Service: Custom</option>
       <option value="Question">Question</option>
       <option value="Feedback">Feedback</option>
       <option value="Others">Others</option>
      </select>
      <span class="custom-arrow"></span>
     </div>
    </div>
   </div>

   <div class="form-group form-input__email mt-30 mt-sm-20">
    <label for="email">Email:</label>
    <input type="email" name="email" class="mt-10" placeholder="Enter your email address" />
   </div>

   <div class="form-group form-input__message mt-30 mt-sm-20">
    <label for="message">Message: </label>
    <textarea name="message" id="message" cols="30" rows="10" class="mt-10"
     placeholder="Enter message here ..."></textarea>
   </div>

   <button type="submit" target="_blank" class="btn btn-accent mt-30 mt-sm-20">Send Message</button>
  </form>
 </div>

 <div class="form__design col-lg5 col-sm12">
  <div class="form__design-img">
   <img src="{{site.baseurl}}/assets/images/messaging.svg" alt="Folk Form" title="Folk Form" class="">
  </div>
  <img src="{{site.baseurl}}/assets/images/mountains.svg" alt="Folk Form" title="Folk Form"
   class="form__design-mountain">
 </div>
</div>