</div>
<!-- End Main -->

<!-- Row Footer -->
<footer>
 <h2 class="footer-heading">Let's Connect</h2>

 <!-- Row Social Media -->
 <div class="footer-social-media__container">
  {%- if strapi.collections.contacts.size > 0 -%}
  
    {% assign sorted_contacts = strapi.collections.contacts | sort: "id" %}
    {%- for contact in sorted_contacts -%}
    
      <!-- Row Band Card -->
       {% if contact.config.mobile_link %}
          <script type="text/javascript">

           if (isMobile()) {

            if(getMobileOperatingSystem() == 'iOS'){
               document.write(`
                <a href="{{contact.config.mobile_link}}" target="_blank" class="footer-social-media__link">
                  {% for icon in contact.config.socials %}
                    {{icon.classname}}
                  {% endfor %}
                </a>
              `);
            }else{
              document.write(`
                <a href="{{contact.config.fallback_mobile_link}}" target="_blank" class="footer-social-media__link">
                  {% for icon in contact.config.socials %}
                    {{icon.classname}}
                  {% endfor %}
                </a>
              `);
            }

           } else {
            document.write(`
             <a href="{{contact.config.link}}" target="_blank" class="footer-social-media__link">
               {% for icon in contact.config.socials %}
                 {{icon.classname}}
               {% endfor %}
             </a>
           `);
           }

          </script>
       {% else %}
          <a href="{{contact.config.link}}" target="_blank" class="footer-social-media__link">
           {% for icon in contact.config.socials %}
              {{icon.classname}}
           {% endfor %}
          </a>
       {% endif %}

      <!-- End Band Card -->
    
    {%- endfor -%}
  {%- endif -%}

 </div>
<!-- End Social Media -->


 <div class="footer__bottom container__nowrap">
  <div class="col-lg4">
   <p class="footer-copyright">
    &copy; 2020 Folk Ridge | All rights reserved
   </p>
  </div>
  <div class="col-lg8">
   <div class="crumbs">
    <div class="crumbs__item">
     <a href="{{site.baseurl}}/" target="_blank" class="crumbs__link">HOME</a>
    </div>

    <div class="crumbs__item">
     <a href="{{site.baseurl}}/about/history" target="_blank" class="crumbs__link">ABOUT</a>
    </div>

    <div class="crumbs__item">
      <a href="https://www.facebook.com/pg/FolkRidgeBand/photos/" target="_blank" class="crumbs__link">GALLERY</a>
    </div>

    <div class="crumbs__item">
     <a href="{{site.baseurl}}/rates/" target="_blank" class="crumbs__link">RATES</a>
    </div>

    <div class="crumbs__item">
     <a href="{{site.baseurl}}/contact/" target="_blank" class="crumbs__link">CONTACT</a>
    </div>
   </div>
  </div>
 </div>
</footer>

<!-- End Footer -->
</div>
<!-- End Wrapper -->

<!-- Row Scripts -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="{{site.baseurl}}/assets/js/app.js"></script>
<script src="https://kit.fontawesome.com/e33b567028.js"></script>

</body>

</html>