---
layout: default
title: Rates
meta: Rates Meta Page
permalink: /rates/
---

<h1 class="page-title hex-primary">Rates</h1>

<div class="container">
  <!-- Row Notes -->
  <div class="package__notes hex-gray display-flex__center">

    {% for page in strapi.collections.pages %}
      {% if page.id == 4%}
        <p class="package__notes-blurb">
          <strong>Note</strong>: 
          {% for note_zone in page.zone %}
            {% if note_zone.__component == 'package.note' %}
              {{ note_zone.text }}
            {% endif %}
          {% endfor %}
        </p>
        <ol class="package__list">
        {% for note_list_zone in page.zone %}
          {% if note_list_zone.__component == 'package.list' %}
          
           {% for element in note_list_zone.note_list %}
            <li class="package__item">
               {{element.list_item}}
            </li>
           {% endfor %}
           
          {% endif %}
        {% endfor %}
        </ol>

      {% endif %}
    {% endfor %}
  </div>

  <!-- Row Package Cards -->

  <div class="package-cards pt-30 pb-60">
    {%- if strapi.collections.packages.size > 0 -%}

    {% assign sorted_packages = strapi.collections.packages | sort: "order" %}
    {% for package in sorted_packages %}

      <!-- Row Packages -->
      {% if package.to_feature == true %}

        {% include snippet/package-card.html %}

      {% endif %}
      <!-- End packages -->

    {% endfor %}

    {%- endif -%}
  </div>
</div>