---
layout: about
title: About | The Band
meta: About Band Meta Page
permalink: /about/the-band/
---


<!-- History -->
<div class="band-card__container container mb-40 mb-sm-10 mt-40 mt-sm-10">
  
  {%- if strapi.collections.bandmembers.size > 0 -%}
    
    {% assign sorted_members = strapi.collections.bandmembers | sort: "id" %}
    {%- for member in sorted_members -%}
    
      {%- if member.membership_type == 'main' -%}

        <!-- Row Band Card -->
        {% include snippet/band-card.html %}
        <!-- End Band Card -->

      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}

  
  {% include snippet/modal.html %}

</div>


