---
layout: about
---


<!-- History -->
<div class="band-card__container container mb-40 mb-sm-10 mt-40 mt-sm-10">
  
  {%- if strapi.collections.bandmembers.size > 0 -%}
    
    {% assign sorted_members = strapi.collections.bandmembers | sort: "id" %}
    {%- for member in sorted_members -%}
    
      {%- if member.membership_type == 'main' and member.status -%}

        <!-- Row Band Card -->
        {% include snippet/band-card.html %}
        <!-- End Band Card -->

      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}

  <!-- Checks if its Bandmember page through ID -->
  <!-- Then checks if component is equals to section.button-center -->
  {% assign page = strapi.collections.pages | where:"id", "6" | first %}
  {% assign zone_button_center = page.zone | where:"__component", "section.button-center" | first %}

  {% if zone_button_center %}
  <a href="{{zone_button_center.destination_link}}" class="history__button btn btn-accent mt-60 mb-60" title="Download Band Resume"
    name="Download Band Resume" download><i class="fas fa-download"></i> DOWNLOAD BAND RESUME</a>
  {% endif %}

  
  
  {% include snippet/modal.html %}

</div>


